
//paleta de colores
$color-principal: rgb(244, 224, 234);
$color-secundario:rgb(239, 223, 231);
$color-terciario: rgb(216, 185, 201);
$color-cuaternario: lavender blush ;

//estilos de fuentes
$fuente-principal:Arial, Helvetica, sans-serif;
$fuente-secundaria: Verdana, Geneva, Tahoma, sans-serif;

