
/*media queries celular acerca de nosotros*/

@media only screen and (max-width: 600px) { .galeriaMain{
      flex-direction: column;
      height: 100%;
    }
}

/*es para ser responsive*/

.contenedorFoto{
  width: 100%;
}

.contenedordeCards{
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.card,.elipse {
  width: 100%;
}






