@charset "UTF-8";
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*CUERPO DE PAGINA */
body {
  background-color: #f4e0ea;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%; }

/*NAVEGADOR */
nav {
  background-color: #efdfe7;
  width: 100%;
  /*NAV BOOTSTRAMP */ }
  nav .container-fluid {
    display: flex;
    justify-content: flex-end; }
    nav .container-fluid navbar-brand {
      background-color: #d8b9c9; }

.offcanvas-body {
  background-color: #d8b9c9; }
  .offcanvas-body .offcanvas-header {
    background-color: #d8b9c9; }

/*SECCION CENTRAL  */
main {
  width: 100%;
  background-color: lavender blush;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /*CONTENEDOR IMG ELIPSE  */ }
  main .imagenPrincipal {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #d8b9c9;
    margin: 0 auto;
    /*IMAGENES ELIPSE  */ }
    main .imagenPrincipal .imagenPrincipal img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin: 0 auto; }

/*CONTENEDOR IMG PRINCIPAL */
.contenedordeCards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
  background-color: #d8b9c9;
  /*IMAGEN PERRO*/ }
  .contenedordeCards .card {
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: #d8b9c9;
    /* ELIPSE  */ }
    .contenedordeCards .card .elipse {
      width: 100%;
      height: 100%; }

object, .elipse img {
  object-fit: cover;
  display: block; }

/* IMG ELIPSE  */
.elipse img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /*LEYENDAS  */ }
  .elipse img.leyenda {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

footer {
  display: flex;
  flex-direction: column; }
  footer footer h4 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  footer .social img {
    width: 48px; }
  footer .links p {
    margin: 10px; }

/*SECCION CENTRAL GALERIA   */
.galeriaMain {
  display: flex;
  width: 100%;
  height: 70vph;
  flex-direction: row;
  justify-content: space-between;
  background-color: #d8b9c9;
  /*FOTO GALERIA PRIMERA FOTO   */ }
  .galeriaMain .contenedorFoto {
    width: 30%;
    height: 100%; }
    .galeriaMain .contenedorFoto .contenedorFoto img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin-top: 100px; }

@media only screen and (max-width: 600px) {
  .galeriaMain {
    flex-direction: column;
    height: 100%; } }

/*es para ser responsive*/
.contenedorFoto {
  width: 100%; }

.contenedordeCards {
  flex-direction: column;
  height: 100%;
  width: 100%; }

.card, .elipse {
  width: 100%; }

/*media queries celular acerca de nosotros*/
@media only screen and (max-width: 600px) {
  .galeriaMain {
    flex-direction: column;
    height: 100%; } }

/*es para ser responsive*/
.contenedorFoto {
  width: 100%; }

.contenedordeCards {
  flex-direction: column;
  height: 100%;
  width: 100%; }

.card, .elipse {
  width: 100%; }

main form {
  margin: 5%; }
  main form main form legend {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
    main form main form legend main form h4 {
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }

@media only screen and (max-width: 600px) {
  .galeriaMain {
    flex-direction: column;
    height: 100%; } }

/*es para ser responsive*/
.contenedorFoto {
  width: 100%; }

.contenedordeCards {
  flex-direction: column;
  height: 100%;
  width: 100%; }

.card, .elipse {
  width: 100%; }

.correoElectronico {
  margin: 40px auto; }

.contraseña {
  margin: 40px auto; }

.iniciodeSesion {
  margin: 40px auto; }

.registrarse {
  margin: 40px auto; }

h4 {
  margin: 40px 2px; }

main form {
  margin: 5%; }
  main form main form legend {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
    main form main form legend main form h4 {
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }

@media only screen and (max-width: 600px) {
  .galeriaMain {
    flex-direction: column;
    height: 100%; } }

/*es para ser responsive*/
.contenedorFoto {
  width: 100%; }

.contenedordeCards {
  flex-direction: column;
  height: 100%;
  width: 100%; }

.card, .elipse {
  width: 100%; }

/* media queries tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main form legend {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; } }

main form h4 {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

main form {
  margin: 5%; }

.nombre {
  margin: 40px auto; }

.apellidos {
  margin: 40px auto; }

.documentodeIdentidad {
  margin: 40px auto; }

.fechadeNacimiento {
  margin: 40px auto; }

.crearCuenta {
  margin: 40px auto; }

h4 {
  margin: 40px 2px; }

.registrarse {
  margin: 40px auto;
  font-size: 20px; }

.contenedordeCards {
  display: flex;
  flex-direction: row;
  width: 100%; }
